<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>工地安全影像辨識系統</h1>

    <div>
        <a href="{{ url_for('register') }}"><button>註冊系統</button></a>
        <a href="{{ url_for('camera') }}"><button>裝備辨識系統</button></a>
        <a href="{{ url_for('view_users') }}"><button>查詢用戶系統</button></a>
        <!-- 其他按鈕的連結 -->
    </div>
</body>

</html>